{% extends "base.html" %}
{% block content %}
<div class="card">
  <div class="card-body">
    <h1 class="h5">Panel de notificaciones</h1>
    <ul class="list-group">
      {% for n in notifications %}
      <li class="list-group-item d-flex justify-content-between">
        <span>[{{ n.kind }}] {{ n.content }}</span>
        <small>{{ n.created_at.strftime('%d/%m %H:%M') }}</small>
      </li>
      {% else %}
      <li class="list-group-item">No hay notificaciones.</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
